
/* about us main section start*/
.about-us-main-section{

padding: 0.8rem;
line-height: 1.5rem;
}
.about-us-main-section h2
{
    font-weight: 400;
    line-height: 36.7px;
    padding-bottom: 2rem;
    padding-top: 5.5rem;
}
.about-us-main-section article
{

   margin-bottom: 5rem;
}
.about-us-main-section .container .blue-building{
    background-color: black;
    width: 6.5rem;
    height: 6.5rem;

  
}

/* about us main section end*/