/* about us main section start*/
.about-us-main-section {
  padding-inline: 5%;
}
.about-us-main-section .container {
  margin: auto;
  display: grid;
  gap: 2rem;
  place-items: center;
  grid-template-columns: 1fr;
  line-height: 1.5rem;
}
.about-us-main-section h2 {
  margin-block: 2rem;
  font-size: 2rem;
  font-weight: 300;
}

.blue-building {
  width: 100%;
  max-height: 400px;
  order: 1;
}
.article-1 {
  order: 2;
}
.blue-building img {
  width: 100%;
  max-height: inherit;
}
.sub-heading {
  order: 3;
  font-weight: 300;
  font-size: 2rem;
  justify-self: center;
}
.sub-heading span {
  color: #018fff;
}
.vision-arrow {
  display: none;
}
.vision-no-arrow {
  order: 4;
}
.article-2 {
  order: 5;
}
.article-2 h2 {
  margin-top: 0;
  text-align: center;
  margin-bottom: 2rem;
  font-weight: 300;
  color: #018fff;
  font-size: 1.8rem;
}
.mission-arrow {
  display: none;
}
.mission-no-arrow {
  order: 6;
}
.article-3 {
  order: 7;
}
.article-3 h2 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300;
  color: #018fff;
  font-size: 1.8rem;
}
@media screen and (min-width: 950px) {
  .about-us-main-section .container {
    gap: 2rem;
    place-items: center;
    grid-template-columns: repeat(3, 20%);
  }
  .article-1 {
    grid-column: 1/4;
    order: 1;
  }
  .blue-building {
    grid-column: 4;
    order: 2;
  }
  .sub-heading {
    margin-block: 2rem;
    align-self: center;
    grid-column: 1/ 5;
    grid-row: 2;
    order: 3;
  }
  .article-2 {
    align-self: start;
    grid-row: 3;
    grid-column: 2/5;
    order: 4;
  }
  .article-2 h2 {
    text-align: left;
  }
  .vision-arrow {
    grid-row: 3;
    grid-column: 1;
    display: block;
    order: 5;
    margin-left: 10%;
  }
  .vision-no-arrow {
    display: none;
  }
  .article-3 {
    align-self: start;
    grid-row: 4;
    grid-column: 1/4;
    order: 6;
  }
  .article-3 h2 {
    text-align: right;
  }

  .mission-arrow {
    grid-row: 4;
    grid-column: 4;
    display: block;
    order: 7;
    margin-left: 10%;
  }
  .mission-no-arrow {
    display: none;
  }
}
/* about us main section end*/
