
/* about us main section start*/

@media screen and (max-width:800px) {

    .about-us-main-section .container .content{
        display: flexbox;
    }
    .about-us-main-section .container .content .blue-building{
        position: relative;
    
     
     
       width: 100%;
        
    }
}
.about-us-main-section
{
    
   

padding: 0.8rem;
line-height: 1.5rem;
}
.about-us-main-section .container {
    display: flexbox;
    
}
@media screen and (min-width:900px){
    .about-us-main-section .container .content{
        display: flex;
    }
    .about-us-main-section .container .content .blue-building
    {
        position: relative;     
       width: 40%;
        
    }
}

.about-us-main-section h2

{

    font-weight: 400;
    line-height: 36.7px;
    padding-bottom: 2rem;
    padding-top: 5.5rem;
}
.about-us-main-section article
{
    padding-right: 5rem;
   margin-bottom: 5rem;
}

.about-us-main-section .container .content .blue-building img{
    width: 100%;
}
.about-us-main-section .container #sub{
    font-weight: 300;
    color: #018FFF;
    padding-left: 20%;
    padding-right: 10%;
}
.about-us-main-section .container .mission h2{
    color: #018FFF;
    font-weight: 300;
}
.about-us-main-section .container .vision h2{
    color: #286D7B;
    font-weight: 300;
}
@media screen and (min-width:900px){
.about-us-main-section .container  .vision{
    padding: 4rem;
    display: flex;


}
.about-us-main-section .container  .mission{
    padding: 4rem;
    display: flex;

}
}
@media screen and (max-width:900px) {
    .about-us-main-section .container  .mission img{
        content:url('/static/assests/imgs/mission\ for\ smaller\ screens.svg');
    }
    .about-us-main-section .container .vision img{
        content: url('/static/assests/imgs/vision\ for\ smaller\ screens.svg');
    }
}
/* about us main section end*/
