@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Roboto:wght@100;300;400;700&display=swap");
html {
  scroll-behavior: smooth;
}
:root {
  --white: #f5fbfc;
  --darkLinkBlue: #004f94;
  --paleLinkBlue: #286f7d;
  --darkBackgroundBlue: #003088;
}
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}
body {
  font-family: "Roboto", sans-serif;
}
@media screen and (max-width:800px){
    body.no-scroll{
        overflow-y: hidden;
    }
}
/* Navbar start */
nav {
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
  align-items: center;
  width: 100%;
  margin-right: auto;
  position: fixed;
  top: 0;
  text-align: center;
  padding: 1rem;
  z-index: 30;
  transition: background-color 1s;
}
nav.scrolling {
  background-color: skyblue;
}
@media screen and (min-width: 1000px) {
  nav {
    padding-right: 15%;
  }
}
nav a {
  text-decoration: none;
  color: var(--white);
}
nav .logo {
  font-size: 1.3rem;
  z-index: inherit;
}

nav .logo span {
  color: var(--darkLinkBlue);
}
nav .links {
  display: flex;
  justify-content: space-between;
  flex-basis: 60%;
  padding: 0;
  list-style-type: none;
}
nav .links span {
  color: var(--paleLinkBlue);
}
nav .links a {
  font-size: 1.2rem;
  position: relative;
}
nav .links a::after {
  content: "";
  width: 100%;
  position: absolute;
  bottom: -10%;
  left: 0;
  height: 2px;
  background-color: var(--paleLinkBlue);
  transform: scaleX(0);
  transform-origin: left;
  transition: 0.5s ease;
}
nav .links li:hover a::after {
  transform: scaleX(1);
}
nav .hamburger-btn {
  width: 3rem;
  height: 3rem;
  border: 1px solid var(--white);
  border-radius: 50%;
  padding-block: 0.8rem;
  place-items: center;
  cursor: pointer;
  display: none;
  z-index: 25;
}
nav .hamburger-btn.open {
  border: none;
}

nav .hamburger-btn div {
  width: 2rem;
  height: 1px;
  background: var(--white);
  position: relative;
  transition: transform 1s, bottom 1s, opacity 1s;
}

nav .hamburger-btn.open div {
  /* background-color: black; */
  width: 2rem;
}
nav .hamburger-btn.open div:nth-of-type(1) {
  transform: rotate(-45deg);
  /* left:-3px; */
  top: 7px;
}
nav .hamburger-btn.open div:nth-of-type(2) {
  opacity: 0;
}
nav .hamburger-btn.open div:nth-of-type(3) {
  transform: rotate(45deg);
  /* left:-3px; */
  bottom: 7px;
}
@media screen and (max-width: 800px) {
  nav {
    padding-right: 0;
    padding-inline: 5%;
  }
  nav .logo {
    font-size: 1rem;
  }
  nav .links {
    position: fixed;
    flex-direction: column;
    top: 0;
    background-image: linear-gradient(to bottom right, skyblue 60%, white);
    width: 100%;
    height: 100%;
    left: 0;
    padding-top: 10rem;
    justify-content: start;
    gap: 2rem;
    text-align: left;
    padding-inline: 5%;
    visibility: hidden;
    opacity: 0;
    transition: visibility 1s, opacity 0.5s, gap 1s;
  }
  nav .links.open {
    /* transform:scale(1); */
    visibility: visible;
    opacity: 1;
    border-radius: 0;
    gap: 5rem;
    z-index: 20;
  }
  nav .hamburger-btn {
    display: grid;
  }
}

/* Navbar end */
/* Hero section start*/
.hero-section {
  background-image: linear-gradient(
    to bottom right,
    #29bbd8 60%,
    rgba(0, 0, 0, 0.8)
  );
  padding-block: 15rem;
  display: grid;
  place-items: center;
}
.hero-section h1 {
  font-size: 3rem;
  font-weight: 100;
  text-transform: capitalize;
  color: var(--white);
  line-height: 3.5rem;
  margin: auto;
  width: 80%;
  position: relative;
  padding-block: 0.5rem;
  padding-inline: 1.5rem;
}
@media screen and (min-width: 800px) {
  .hero-section h1 {
    width: 50%;
  }
}
@media screen and (min-width: 1000px) {
  .hero-section h1 {
    width: 45%;
  }
}
.hero-section h1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 30%;
  height: 50%;
  border: 2px solid var(--white);
  border-bottom: none;
  border-right: none;
  animation-name: slide-from-left;
  animation-duration: 1.5s;
  animation-timing-function: ease;
}
@keyframes slide-from-left {
  from {
    transform: scale(0);
    transform-origin: top left;
    opacity: 0;
    left: -30%;
  }
  to {
    transform: scale(1);
    opacity: 1;
    left: 0;
  }
}
.hero-section h1::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 30%;
  height: 50%;
  border: 2px solid var(--white);
  border-top: none;
  border-left: none;
  animation-name: slide-from-right;
  animation-duration: 1.5s;
  animation-timing-function: ease;
}
@keyframes slide-from-right {
  from {
    transform: scale(0);
    transform-origin: bottom right;
    opacity: 0;
    right: -30%;
  }
  to {
    transform: scale(1);
    opacity: 1;
    right: 0;
  }
}

/* Hero section end */

/* Home page main section start */
.home-main-section {
  padding-left: 8%;
  padding-right: 12%;
  padding-block: 5rem;
}
.home-main-section h3 {
  margin-bottom: 2.5rem;
  font-size: 1.8rem;
  font-weight: 300;
  text-align: center;
}
.home-main-section h3 span {
  color: #29bbd8;
}
.home-main-section .container {
  display: flex;
  justify-content: space-between;
  margin: auto;
  gap: 3rem;
  flex-wrap: wrap;
}
@media screen and (max-width: 386px) {
  .home-main-section .container {
    flex-direction: column;
  }
}
.home-main-section .container .agenda-card {
  display: grid;
  place-items: center;
}
.home-main-section .container .agenda-card .card-image {
  width: 6.5rem;
  height: 6.5rem;
  text-align: center;
  display: grid;
  place-items: center;
  border-radius: 50%;
  font-size: 2.5rem;
  position: relative;
  margin-bottom: 5rem;
  color: var(--white);
  font-weight: 300;
}
.home-main-section .container .agenda-card:nth-of-type(1) .card-image {
  background-color: #6fd1d1;
}
.home-main-section .container .agenda-card:nth-of-type(2) .card-image {
  background-color: #1bb8d7;
}
.home-main-section .container .agenda-card:nth-of-type(3) .card-image {
  background-color: #018fff;
}
.home-main-section .container .agenda-card:nth-of-type(4) .card-image {
  background-color: #165c80;
  justify-self: center;
}
.home-main-section .container .agenda-card .card-image::after {
  content: "";
  position: absolute;
  width: 150%;
  height: 3px;
  background-color: inherit;
  bottom: -45%;
}
.home-main-section .container .agenda-card .card-title {
  text-align: center;
  margin: 0;
  padding: 0;
}
/* Home page main section end*/

/* Footer start */
footer {
  padding: 2rem;
  background-color: var(--darkBackgroundBlue);
}
footer h3 {
  font-size: 1.8rem;
  font-weight: 400;
  color: var(--white);
  margin-bottom: 1.5rem;
}
footer .container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
footer ul {
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  color: var(--white);
}
footer ul a {
  color: var(--white);
}
footer ul:not(:first-of-type) {
  gap: 1rem;
}
footer ul:first-of-type {
  gap: 2rem;
}
@media screen and (max-width: 750px) {
  footer .container {
    flex-direction: column;
    gap: 5rem;
  }
}

/* Footer end */
