{%extends "base.html"%}
{%block title%}About us &mdash; Bluspan {% endblock %}
{%block styleSheet%}
<link rel="stylesheet" href="/static/css/about_style.css">{% endblock %}
{%block hero_text%}About us and our services{%endblock%}

{%block main_content%}

<section class="about-us-main-section">
    <h2>Brief <span style="color: #165C80;">introduction</span></h2>
    <diV class="container">
        <article class="article-1">

            <span style="color: #018FFF; ">Bluspan</span> Professional Services <span style="color: #018FFF;">"Bluspan"</span>
            is a professional Tax, Regulatory and People Services firm <br>
            with a Global network that serves both local and multinational companies. <br>
            We specialize in providing tax solutions to all types of businesses stretching from conception <br>
            to execution, including a robust and maintainable tax audit defense, strategically designed to <br>
            curtail tax liabilities to the barest minimum. <br>
            Our regulatory solutions are premised on tested and proven knowledge of the regulatory horizon. <br>
            We focus on developing our people for the future. <br>
            Our practice in the short run focuses on serving the Sub-Saharan African Region with potentials <br>
            to grow into an African and global business covering Europe, Middle East and the Americas <br>

        </article>
        <div class="blue-building">
            <img src="/static/assests/imgs/blue building.jpg" alt="blue-building">
        </div>

        <h2 class="sub-heading"> Our <span>Vision & Mission</span> </h2>

        <div class="vision-arrow">
            <img src="/static/assests/imgs/vision.svg" alt="vision">
        </div>
        <div class="vision-no-arrow">
            <img src="/static/assests/imgs/vision for smaller screens.svg" alt="vision">
        </div>
        <article class="article-2">
            <h2>Vision</h2>
            <p>Our mission is to <span style="color: #165C80;"> provide unrivalled consulting,
                    tax and financial services to all our clients.</span>
            </p>
        </article>



        <article class="article-3">
            <h2>Mission</h2>
            <p>
                <span style="color: #018FFF;;"> Our main objective</span> as a firm is to ensure maximum deliverables through providing exceptional financial products both in content,
                presentation and an underlying touch to client’s personal attention.
            </p>
            <p>
                <span style="color: #018FFF;">We will pride ourselves as the ultimate destination for aspiring employees desiring to build an outstanding career in tax and financial services.</span>
                Together, we will build and nurture a culture of excellence, growth, profitability and passion.
            </p>
        </article>
        <div class="mission-arrow">
            <img src="/static/assests/imgs/mission.svg" alt="mision">
        </div>
        <div class="mission-no-arrow">
            <img src="/static/assests/imgs/mission for smaller screens.svg" alt="mision">
        </div>
    </div>



</section>

{% endblock %}