{%extends "base.html"%}
{%block title%}Home &mdash; Bluspan {% endblock %}
{%block hero_text%}Bluspan Professional Services{%endblock%}

{%block main_content%}
<section class="home-main-section">
    <h3>Our <span>Agenda</span></h3>
    <div class="container">
        <div class="agenda-card">
            <div class="card-image">
                01
            </div>
            <p class="card-title">
                Company introduction
            </p>
        </div>
        <div class="agenda-card">
            <div class="card-image">
                02
            </div>
            <p class="card-title">
                Our team
            </p>
        </div>

        <div class="agenda-card">
            <div class="card-image">
                03
            </div>
            <p class="card-title">
                Problems & solution
            </p>
        </div>
        <div class="agenda-card">
            <div class="card-image">
                04
            </div>
            <p class="card-title">
                Services
            </p>
        </div>
    </div>
</section>
{%endblock%}